.modal-title{
    font-family: Tahoma, Helvetica, Arial;
}
.messageContainer{
    font-family: Tahoma, Helvetica, Arial;
    font-size: 15px;
    text-align: justify;
    direction: rtl;
    word-wrap: break-word;
}
.farsi{
    font-family: Tahoma, Helvetica, Arial;
    font-size: 12px;
}
.progress-custom {
    height: 5px;
    margin-top: -11px;
    margin-left: 6px;
    width: 99.9% !important;
    background-color: white;
}
.uploader-container{
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px !important;
    margin-bottom: 12px;
    padding: 10px 20px;
}

.checkbox-icon {
    float: right;
    color: green;
    font-size: 20px;
    padding: 3px;
}
